<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İlaç Kartı Uygulaması</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@300&family=Shadows+Into+Light&family=Ubuntu:wght@700&display=swap"
        rel="stylesheet">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        {{kontrol()}}
        <section class="hero is-success has-text-centered">
            <div class="hero-body">
                <h1 class="title is-1">İlaç Kartları</h1>
                <h2 class="subtitle is-4 mt-1">İlaçları Araştırın</h2>
            </div>
        </section>

        <div class="container mt-2">
            <div class="field container aramaKutusu" style="margin-top: 15px;">
                <label class="label">İlaç Adını Giriniz:</label>
                <div class="control">
                    <input v-model="search" @input="tikla" class="input" type="text"
                        placeholder="İlaç adı, etken maddesi, ilaç türü, endikasyon yazınız">
                </div>
            </div>
        </div>
        <hr>

        <div v-show="!uyarıKutusuGoster">
            <h3 class="title is-3 ml-5">Arama Sonuçları:</h3>
            <div class="mainIlaclar">
                <div v-for="(ilac,index) in ilacAdinaGore" :key="index" style="margin-bottom: 20px;">
                    <div class="card ilacKartlari">
                        <span style="display: none;">{{index}}</span>
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img :src="ilac.ImageUrl" alt="Placeholder image">
                            </figure>
                        </div>
                        <button @click="ilacKartiGoster" class="button is-info mt-2 ml-2">İlaç Kartına Bak</button>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">{{ilac.IlacAdi}}</p>
                                </div>
                            </div>

                            <div class="content">
                                <p><strong class="kalınMetin">Etken Maddesi:</strong> {{ilac.EtkenMadde}}</p>
                                <p><strong class="kalınMetin">İlaç Türü:</strong> {{ilac.Siniflandirma}}</p>
                                <p><strong class="kalınMetin">Endikasyonları:</strong> {{ilac.Endikasyonlari}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="modal is-clipped" :class="{isActive : ilacKarti}">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">İlaç Bilgileri</p>
                                <button @click="ilacKartiKapat" class="delete" aria-label="close"></button>
                            </header>
                            <section class="modal-card-body"
                                style="background-image: url(./images/ilacKartiBack.png); background-size: cover;">
                                <h2 class="title is-1 ilacKartiBasligi">{{ilacIndexList.IlacAdi}}</h2>

                                <div class="columns">
                                    <div class="column">
                                        <figure class="image is-4by3">
                                            <img class="ilacKartiImg" :src="ilacIndexList.ImageUrl"
                                                alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="column">
                                        <p><strong class="kalınMetin">Etken Maddesi:
                                            </strong>{{ilacIndexList.EtkenMadde}}</p>
                                        <p><strong class="kalınMetin">İlaç Türü:
                                            </strong>{{ilacIndexList.Siniflandirma}}</p>
                                        <p><strong class="kalınMetin">Endikasyonları:
                                            </strong>{{ilacIndexList.Endikasyonlari}}</p>
                                        <p><strong class="kalınMetin">Kontrendike Durumlar:
                                            </strong>{{ilacIndexList.Kontrendike}}</p>
                                        <p><strong class="kalınMetin">Yan Etkileri:
                                            </strong>{{ilacIndexList.YanEtkileri}}</p>
                                        <p><strong class="kalınMetin">Birlikte Kullanılmaması Gereken İlaçlar:
                                            </strong>{{ilacIndexList.BirlikteKullanilmaz}}</p>
                                    </div>
                                </div>

                                <div class="columns">
                                    <div class="column">
                                        <h3 class="title is-3 kalınMetin">Hemşireye Notlar:</h3>
                                        <p class="hemsireyeNotlarP">
                                            {{ilacIndexList.HemsireyeNotlar}}
                                        </p>
                                    </div>
                                </div>

                            </section>
            
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div v-show="uyarıKutusuGoster">
            <div class="ortala">
                <article class="message is-info uyariKutusu" style="margin-top: 20px;">
                    <div class="message-header">
                        <p>Bilgi</p>
                    </div>
                    <div class="message-body">
                        Lütfen En Az 3 Harf Girip Arama Yapınız.
                    </div>
                </article>
            </div>
        </div>

        <div v-show="dangerBox">
            <div class="ortala">
                <article class="message is-danger uyariKutusu">
                    <div class="message-header">
                        <p>Uyarı</p>
                    </div>
                    <div class="message-body">
                        İlaç bulunamadı. Lütfen başka bir şekilde aramayı deneyin.
                    </div>

                </article>
            </div>
        </div>

        <br><br>

        <footer class="footer">
            <div class="content has-text-centered">
              <p>
                <strong>İlaç Kartları Uygulaması</strong> by <a href="https://www.instagram.com/serhatkanat99/">Serhat Kanat</a>. Bir <a href="https://hemsirekitabi.com/">Hemşire Kitabı</a> Projesidir. <br>
                &copy Bütün Telif Hakları Sakladır. <br>
                Version 1.0.2 Alpha
              </p>
            </div>
          </footer>
    </div>


    <script src="app.js"></script>
</body>

</html>