.kelime-ekle-div {
    background-color: #ebfffc;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 8px;
    color: #00947e;
}

.ortala {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    overflow: scroll;
}


.slide-enter-active{
    animation: slide-in 1s ease-out forwards;
}
.slide-leave-active{
    animation: slide-out 1s ease-in forwards;
}

.fa-solid{
    pointer-events: none;
}
.content blockquote:not(:last-child), .content dl:not(:last-child), .content ol:not(:last-child), .content p:not(:last-child), .content pre:not(:last-child), .content table:not(:last-child), .content ul:not(:last-child){
    margin-bottom: .4em !important;
}
.btn-islem{
margin-bottom: 10px;
}
@keyframes slide-in     {
    from{
       transform: scale(0);
    }
    to{
        transform: scale(1);

    }
    
}

@keyframes slide-out     {
    from{
       transform: scale(1);
    }
    to{
        transform: scale(0);

    }
    
}
