.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tarih-sec-div{
    position: absolute;
    top: 560px;
}


.gorevler-div{
    position: absolute;
    top: 600px;
}

.gorev-div{
    width: 500px;
    height: 105px;
    border: 1px solid black;
    margin-bottom: 5px;
}

.btn-tamam{
    display: inline;
}

.p-yapilacak{
    display: inline;
}

