.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}


.gorevler-div {
    margin-top: 30px;
}

.gorev-div {
    width: 350px;
    height: 105px;
    border: 1px solid black;
    margin-bottom: 5px;
    border-radius: 0px 10px 10px 10px;
    background-color: #74EBD5;
}

.btn-tamam {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background-color:#019ad2;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.btn-tamam:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}

.btn-tamam {
    display: inline;
}

.p-yapilacak {
    display: inline;
}